### PYTHON ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/docs/_build

# IPython notebooks
.ipynb_checkpoints

### OTHER ###
.DS_Store
Thumbs.db


